[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
rope = "*"
flake8 = "*"
pyflakes = "*"

[packages]
tweepy = "*"
boto3 = "*"
jinja2 = "*"
pytz = "*"
chalice = "*"
mypy = "*"

[requires]
python_version = "3.8"
