{% extends "base.jinja2" %}

{% block title %}このサービスについて{% endblock %}

{% block body %}

<div class="content">
<h1 class="title" style="margin-bottom: 2.5rem">
このサービスについて
</h1>

<p>
2023-06-13 20:35 までは #FGO周回カウンタ で報告された周回報告ツイートを自動収集するサービスでした。
それ以降は、周回報告サイト <a href="https://fgodrop.max747.org/reports/all" target="_blank">fgodrop.max747.org</a> で報告された周回報告ツイートを収集し、Twitter username で名寄せしたものを提供しています。
</p>

<a name="purpose"></a>
<h2>サービスの目的</h2>

<p>
<b>【2023-06-13 20:35 まで】</b>
周回報告が Twitter 検索で弾かれずにきちんと拾われているかどうかを明らかにするのが主な目的です。
おまけとして、収集した情報を一覧化することにより周回報告のログとしても使えるようになっています。
</p>

<p>
<b>【2023-06-13 20:35 以降】</b>
周回報告ログ、過去の Twitter 検索時代の報告と fgodrop による報告の連続性を提供することなどがサービス提供の主目的になっています。
</p>

<h2>このサービスがやらないこと</h2>

<p>
周回報告の自動<u>集計</u>は行いません。あくまで周回報告の自動<u>収集</u>による見える化が目的です。
集計しない理由は、人間が見れば気づくであろう報告ミス等が全自動の機械処理では簡単に判別できないためです。
</p>

<h2>解析エラーとなる周回報告について</h2>

<p>
<b>【2023-06-13 20:35 まで】</b>
#FGO周回カウンタ がついているツイートの書式が周回報告フォーマットに準じたものになっていない場合、解析エラーになります。
ただし解析エラーの判定は自動収集プログラムの機械的なチェックによるものですから、
報告の情報として必要な要素が揃っていてもプログラムが受け付けない書式のためにエラーになることはあります。
後に集計人が実際に報告を収集し集計をまとめるときには内容が吟味されますので、そこで情報が補正あるいは補完され、
有効な報告として扱われる可能性は十分あります。
逆に、解析エラーになっていない報告であっても集計上問題がある場合は無効と判断され集計されない可能性があります。
</p>

<p>
<b>【2023-06-13 20:35 以降】</b>
報告サイトを通すことで書式が整理されますので、原理的に周回報告の解析エラーは起こりえません。
</p>

<h2>効率劇場との関係について</h2>

<p>
このサービスは効率劇場の運営とは独立しています。
なお<a href="https://github.com/fgosc/fgo-drop-analyzer" target="_blank">集計プログラム</a>は FGO Harvest とは完全に別の実装 (fgophi さんによる) です。
</p>

<h2>オプトアウトしたい</h2>

<p>
勝手に周回報告を自動収集、一覧化されることを拒否したい場合は、お手数ですが下記の連絡先までご一報ください。
</p>

<h2>削除した報告ツイートが一覧に表示され続ける</h2>

<p>
サービスが一度収集した報告情報を個別に削除する方法は現在ありません。
削除された報告を後から検出し一覧から自動的に除外する機能を検討していますが、未実装です。
</p>
<p>
オプトアウトによるユーザー単位での報告全削除は可能です。
</p>

<h2>周回報告のログについて</h2>

<p>
当サービスは 2020-07-01 ～ 2023-06-13 20:35 の報告ツイート、および報告サイト fgodrop.max747.org の周回報告を収集しています。
過去にさかのぼって報告ツイートを収集することはできません。
周回報告のログ保存期間は、現在のところ無期限です。
</p>

<h2>連絡先</h2>

<p><a href="https://twitter.com/max747_fgo" target="_blank">twitter: max747_fgo</a></p>

</div>

{% endblock %}
