{% extends "base.jinja2" %}

{% block title %}このサービスについて{% endblock %}

{% block body %}

<div class="content">
<h1 class="title" style="margin-bottom: 2.5rem">
このサービスについて
</h1>

<p>#FGO周回カウンタ で報告された周回報告ツイートを自動収集するサービスです。</p>

<a name="purpose"></a>
<h2>サービスの目的</h2>

<p>
周回報告が Twitter 検索で弾かれずにきちんと拾われているかどうかを明らかにするのが主な目的です。
おまけとして、収集した情報を一覧化することにより周回報告のログとしても使えるようになっています。
</p>

<h2>このサービスがやらないこと</h2>

<p>
周回報告の自動<u>集計</u>は行いません。あくまで周回報告の自動<u>収集</u>による見える化が目的です。
集計しない理由は、人間が見れば気づくであろう報告ミス等が全自動の機械処理では簡単に判別できないためです。
</p>

<h2>解析エラーとなる周回報告について</h2>

<p>
#FGO周回カウンタ がついているツイートの書式が周回報告フォーマットに準じたものになっていない場合、解析エラーになります。
ただし解析エラーの判定は自動収集プログラムの機械的なチェックによるものですから、
後に集計人が実際に報告を収集し集計をまとめるときには内容が補正あるいは補完され、有効な報告として扱われる可能性があります。
逆に、解析エラーになっていない報告であっても集計上問題がある場合は無効と判断される可能性があります。
</p>

<h2>効率劇場との関係について</h2>

<p>
このサービスは効率劇場の運営とは独立しています。
<a href="#purpose">サービスの目的</a>にある通り、
周回報告が Twitter 検索で弾かれずにきちんと拾われているかどうかを明らかにするところまでが当サービスの仕事です。

ただし、このサービスで拾われていない報告ツイートは Twitter 検索で表示されないと考えられますので、
集計時にも同様に拾われない可能性がとても高いということはいえます。
</p>

<h2>オプトアウトしたい</h2>

<p>
勝手にツイートを自動収集、一覧化されることを拒否したい場合は、お手数ですが下記の連絡先までご一報ください。
</p>

<h2>削除したツイートが一覧に表示され続ける</h2>

<p>
サービスが収集した報告情報を削除する方法は現在ありません。
削除された報告を一覧から自動的に除外する機能を検討していますが未実装です。
</p>

<h2>報告ツイートのログについて</h2>

<p>
当サービスは 2020-07-01 以降の報告ツイートを収集しています。
無料版 Twitter 検索 API の仕様上、過去にさかのぼって報告ツイートを収集することはできません。
周回報告のログ保存期間は、現在のところ無期限です。
</p>

<h2>検索されない報告ツイートについて</h2>

<p>
複数の観測事例から、報告ツイートを一度削除してからすぐに同じような内容の報告ツイートを行うとそのツイートが
Twitter 検索にかからない可能性が高いです。
報告ツイートの誤りは削除再投稿ではなく、リプライで補足訂正するほうが集計人にとってはありがたいかもしれません。
</p>

<h2>連絡先</h2>

<p><a href="https://twitter.com/max747_fgo" target="_blank">twitter: max747_fgo</a></p>

</div>

{% endblock %}
