TwitterConsumerKey = ''
TwitterConsumerSecret = ''
TwitterAccessToken = ''
TwitterAccessTokenSecret = ''

NGWords = []
NGTags = []

LatestTweetIDFile = 'latest_tweet.txt'
CensoredAccountsFile = 'censored_accounts.json'

S3Bucket = ''
TweetStorageDir = 'harvest/tweets'
ProcessorOutputDir = 'harvest/contents'
SettingsDir = 'harvest/settings'

DistributionId = ''
