NGWords = []
NGTags = []

LatestTweetIDFile = 'latest_tweet.txt'
LastReportTimeFile = 'last_report_time.txt'
CensoredAccountsFile = 'censored_accounts.json'

S3Bucket = ''
TweetStorageDir = 'harvest/tweets'
ReportStorageDir = 'harvest/reports'
ProcessorOutputDir = 'harvest/contents'
SettingsDir = 'harvest/settings'

CloudfrontDistributionId = ''
RestAPIBase = ''
CORSAllowOrigin = ''

GraphQLEndpoint = ''
GraphQLApiKey = ''
