{% macro table(weeks) -%}
<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th>開催日</th>
    </tr>
  </thead>
  <tbody>
{% for week in weeks %}<tr>
  <td><a href="{{ week.id }}.html">{{ week.id }}</a></td>
</tr>{% endfor %}
  </tbody>
</table>
{% endmacro %}

{% extends "base.jinja2" %}

{% block title %}1HRun{% endblock %}

{% block body %}

<h1 class="title" style="margin-bottom: 2.5rem">
1HRun
</h1>

{{ table(weeks) }}

{% endblock %}
