<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex,nofollow,noarchive,nosnippet,noimageindex">
  <meta name="AdsBot-Google" content="noindex,nofollow,noarchive,nosnippet,noimageindex">

  <script defer src="https://use.fontawesome.com/releases/v6.1.1/js/all.js"></script>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block head %}{% endblock %}
  <title>FGO Harvest {% block title %}{% endblock %}</title>
</head>
<body>
  <section class="section">
    <div class="container">
      <nav class="navbar" style="margin-bottom: 1rem;" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="../date/latest.html">
            <div style="font-size: 150%">FGO Harvest</div>
          </a>
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="theNavbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div class="navbar-menu" id="theNavbar">
          <div class="navbar-end">
            <a class="navbar-item" href="../date/latest.html">by date</a>
            <a class="navbar-item" href="../month/latest.html">by month</a>
            <a class="navbar-item" href="../user/all.html">by user</a>
            <a class="navbar-item" href="../quest/all.html">by quest</a>
            <a class="navbar-item" href="../errors/error.html">errors</a>
            <a class="navbar-item" href="../static/about.html">about</a>
          </div>
        </div>
      </nav>

{% block body %}{% endblock %}
    </div>
  </section>
  <script>
(function(){
  document.addEventListener('DOMContentLoaded', () => {
    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {
      // Add a click event on each of them
      $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {
          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');
        });
      });
    }
  });
})();
  </script>
</body>
</html>