{% extends "base.jinja2" %}
{% macro table(reports) -%}
<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th>投稿日時</th>
      <th>投稿者</th>
      <th style="min-width: 11rem">場所</th>
      <th style="min-width: 5rem">周回数</th>
      <th>ドロップ</ht>
    </tr>
  </thead>
{% for r in reports %}<tr>
  <td>
    <a href="https://twitter.com/{{ r.reporter }}/status/{{ r.id }}" target="_blank">
      {{ r.timestamp.strftime("%Y-%m-%d") }}<br>
      {{ r.timestamp.strftime("%H:%M:%S") }}
      <span style="margin-left: 0.1rem"><small><i class="fas fa-external-link-alt"></i></small></span>
    </a>
  </td>
  <td>
    <a href="../user/{{ r.reporter }}.html">
      {{ r.reporter }}
    </a>
  </td>
  <td>
    <a href="../quest/{{ r.quest_id }}.html">
      {{ r.chapter }}<br>{{ r.place }}
    </a>
  </td>
  <td>{{ r.runcount }}</td>
  <td>{% for k, v in r['items'].items() %}{{ k }}: {{ v }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
</tr>{% endfor %}
</table>

{%- endmacro -%}

{% block title %}{{ today }}{% endblock %}

{% block body %}

<nav class="pagination is-centered" role="navigation" aria-label="pagination">
  <a class="pagination-previous" href="{{ yesterday }}.html">← 前日</a>
  <a class="pagination-next" href="{{ tomorrow }}.html">翌日 →</a>
</nav>

<h1 class="title" style="margin-bottom: 2.5rem">
  {{ today }}

  <span class="flatpickr" style="margin-left: 0.5rem">
    <input type="text" id="datepicker" data-input style="display: none" value="{{ today }}">
  
    <a class="input-button" title="toggle" data-toggle>
      <i class="far fa-calendar-alt"></i>
    </a>
  </span>
</h1>

<p class="subtitle">イベント</p>
{% if event_reports %}
{{ table(event_reports) }}
{% else %}
<p style="margin-bottom: 2rem">なし</p>
{% endif %}

<p class="subtitle">恒常フリークエスト</p>
{% if freequest_reports %}
{{ table(freequest_reports) }}
{% else %}
<p style="margin-bottom: 2rem">なし</p>
{% endif %}

<script>
(function(){
  var t = (new Date()).toISOString();
  var today = t.substr(0, t.indexOf("T"));

  flatpickr(".flatpickr", {
    wrap: true,
    enable: [
      {
        from: "2020-07-01",
        to: today
      }
    ]
  });

  document.querySelector("#datepicker").addEventListener('change', function(event){
    location.href = event.target.value + ".html";
  });
})();
</script>
{% endblock %}
