{% extends "base.jinja2" %}
{% macro table(reports) -%}
<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th>投稿日時</th>
      <th>投稿者</th>
      <th style="min-width: 11rem">場所</th>
      <th style="min-width: 5rem">周回数</th>
      <th>ドロップ</ht>
    </tr>
  </thead>
  <tbody>
{% for r in reports %}<tr>
  <td>
    {% if r.source == "fgodrop" %}
      <a href="https://fgodrop.max747.org/reports/{{ r.report_id }}" target="_blank">
    {% else %}
      <a href="https://twitter.com/{{ r.reporter }}/status/{{ r.id }}" target="_blank">
    {% endif %}
      {{ r.timestamp.strftime("%Y-%m-%d") }}<br>
      {{ r.timestamp.strftime("%H:%M:%S") }}
      <span style="margin-left: 0.1rem"><small><i class="fa-solid fa-arrow-up-right-from-square"></i></small></span>
    </a>
  </td>
  <td>
    <a href="../user/{{ r.reporter }}.html">
      {{ r.reporter }}
    </a>
  </td>
  <td>
    <a href="../quest/{{ r.quest_id }}.html">
      {{ r.chapter }}<br>{{ r.place }}
    </a>
  </td>
  <td>{{ r.runcount }}</td>
  <td>{% for k, v in r['items'].items() %}{{ k }}: {{ v }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
</tr>{% endfor %}
  </tbody>
</table>

{%- endmacro -%}

{% block title %}{{ today }}{% endblock %}

{% block body %}

<nav class="pagination is-centered" role="navigation" aria-label="pagination">
  <a class="pagination-previous" href="{{ yesterday }}.html">← 前日</a>
  <a class="pagination-next" href="{{ tomorrow }}.html">翌日 →</a>
</nav>

<h1 class="title" style="margin-bottom: 2.5rem">
  {{ today }}

  <span class="flatpickr" style="margin-left: 0.5rem">
    <input type="text" id="datepicker" data-input style="display: none" value="{{ today }}">
  
    <a class="input-button" title="toggle" data-toggle>
      <i class="fa-solid fa-calendar-days"></i>
    </a>
  </span>

  <span style="margin-left: 0.5rem">
    <a href="{{ today }}.csv">
      <i class="fa-solid fa-file-csv"></i>
    </a>
  </span>
</h1>

<p class="subtitle">イベント{% if event_reports %} ({{ event_reports | length }}){% endif %}</p>
{% if event_reports %}
{{ table(event_reports) }}
{% else %}
<p style="margin-bottom: 2rem">なし</p>
{% endif %}

<p class="subtitle">恒常フリークエスト{% if freequest_reports %} ({{ freequest_reports | length }}){% endif %}</p>
{% if freequest_reports %}
{{ table(freequest_reports) }}
{% else %}
<p style="margin-bottom: 2rem">なし</p>
{% endif %}

<script>
(function(){
  var formatDate = function(dt) {
    var year = dt.getFullYear();
    var month = ('0' + (dt.getMonth() + 1)).slice(-2);
    var day = ('0' + dt.getDate()).slice(-2);
    return year + '-' + month + '-' + day;
  }

  // tz: Asia/Tokyo
  var now = new Date(Date.now() + ((new Date().getTimezoneOffset() + (9 * 60)) * 60 * 1000));

  flatpickr(".flatpickr", {
    wrap: true,
    enable: [
      {
        from: "2020-07-01",
        to: formatDate(now)
      }
    ]
  });

  document.querySelector("#datepicker").addEventListener('change', function(event){
    location.href = event.target.value + ".html";
  });
})();
</script>
{% endblock %}
