{% extends "base.jinja2" %}
{% macro table(reports) -%}
<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th>投稿日時</th>
      <th>投稿者</th>
      <th style="min-width: 11rem">場所</th>
      <th style="min-width: 5rem">周回数</th>
      <th>ドロップ</ht>
    </tr>
  </thead>
  <tbody>
{% for r in reports %}<tr>
  <td>
    <a href="https://twitter.com/{{ r.reporter }}/status/{{ r.id }}" target="_blank">
      {{ r.timestamp.strftime("%Y-%m-%d") }}<br>
      {{ r.timestamp.strftime("%H:%M:%S") }}
      <span style="margin-left: 0.1rem"><small><i class="fa-solid fa-arrow-up-right-from-square"></i></small></span>
    </a>
  </td>
  <td>
    <a href="../user/{{ r.reporter }}.html">
      {{ r.reporter }}
    </a>
  </td>
  <td>
    <a href="../quest/{{ r.quest_id }}.html">
      {{ r.chapter }}<br>{{ r.place }}
    </a>
  </td>
  <td>{{ r.runcount }}</td>
  <td>{% for k, v in r['items'].items() %}{{ k }}: {{ v }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
</tr>{% endfor %}
  </tbody>
</table>

{%- endmacro -%}

{% block title %}{{ this_month }}{% endblock %}

{% block body %}

<nav class="pagination is-centered" role="navigation" aria-label="pagination">
  <a class="pagination-previous" href="{{ prev_month }}.html">← 前月</a>
  <a class="pagination-next" href="{{ next_month }}.html">翌月 →</a>
</nav>

<h1 class="title" style="margin-bottom: 2.5rem">
  {{ this_month }}

  <span style="margin-left: 0.5rem">
    <a href="{{ this_month }}.csv">
      <i class="fa-solid fa-file-csv"></i>
    </a>
  </span>
</h1>

<p class="subtitle">イベント{% if event_reports %} ({{ event_reports | length }}){% endif %}</p>
{% if event_reports %}
{{ table(event_reports) }}
{% else %}
<p style="margin-bottom: 2rem">なし</p>
{% endif %}

<p class="subtitle">恒常フリークエスト{% if freequest_reports %} ({{ freequest_reports | length }}){% endif %}</p>
{% if freequest_reports %}
{{ table(freequest_reports) }}
{% else %}
<p style="margin-bottom: 2rem">なし</p>
{% endif %}
{% endblock %}
